<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="productDao" class="flooringmastery.dao.ProductDaoFileImpl" />
    <bean id="taxDao" class="flooringmastery.dao.TaxDaoFileImpl" />

    <bean id="io" class="flooringmastery.view.UserIOConsoleImpl">
        <constructor-arg ref="taxDao" />
        <constructor-arg ref="productDao" />
    </bean>

    <bean id="view" class="flooringmastery.view.FlooringMasteryView">
        <constructor-arg ref="io" />
    </bean>

    <bean id="orderDao" class="flooringmastery.dao.OrderDaoFileImpl">
        <constructor-arg ref="productDao" />
        <constructor-arg ref="taxDao" />
    </bean>

    <bean id="service" class="flooringmastery.service.FlooringMasteryServiceLayerImpl">
        <constructor-arg ref="orderDao" />
        <constructor-arg ref="productDao" />
        <constructor-arg ref="taxDao" />
    </bean>

    <bean id="controller" class="flooringmastery.controller.FlooringMasteryController">
        <constructor-arg ref="view" />
        <constructor-arg ref="service" />
    </bean>

</beans>